* {
  margin: 0 auto;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}

html,
body,
.wrapper {
  width: 100%;
  height: 100%;
  background-color: #28262B;
}

.wrapper {
  display: flex;
}

.entry-text {
  display: block;
  position: absolute;
  z-index: 1;
  background-color: #1E1C21;
  border-radius: 55px;
  text-align: center;
  color: white;
  padding: 3%;
  font-size: 70px;
  letter-spacing: 0.2em;
  font-family: 'Amatic SC', cursive;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.entry-text p{
  font-size: 19px;
  letter-spacing: 0em;
  margin: 10px;
}


.rainbowText {
  animation-name: BGC;
  animation-duration: 30s;
  animation-iteration-count: infinite;
}

@keyframes BGC {
  0% {
    color: rgb(255, 86, 86);
  }

  10% {
    color: rgb(241, 185, 80);
  }

  20% {
    color: rgb(255, 255, 98);
  }

  30% {
    color: rgb(140, 240, 140);
  }

  40% {
    color: rgb(93, 233, 219);
  }

  50% {
    color: rgb(92, 92, 255);
  }

  55% {
    color: rgb(146, 5, 146);
  }

  60% {
    color: rgb(92, 92, 255);
  }

  65% {
    color: rgb(93, 233, 219);
  }

  70% {
    color: rgb(176, 241, 176);
  }

  80% {
    color: rgb(255, 255, 98);
  }

  90% {
    color: rgb(253, 193, 82);
  }

  100% {
    color: rgb(255, 86, 86);
  }
}

.box{
  height: 60px;
  width:  70px;
  display: inline-block;
  margin: 10px;
  font-size: 30px;
  color: white;
  border-radius: 20px;
  transition: 0.3s;
}

.box p{
  font-size: 30px;
}

#firstbox{
  background-color:  #264653;
}

#secondbox{
  background-color:  #2A9D8F;
}

#thirdbox{
  background-color:  #E9C46A;
}

#fourthbox{
  background-color:  #F4A261;
}

#fifthbox{
  background-color:  #E76F51;
}
